<!-- <!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Oppskrifter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stil.css') }}">
</head>
<body>
    <nav class="hoved-nav">
        <div class="nav-venstre">
            <a href="{{ url_for('hjem') }}" class="hjem-knapp">⛺︎ Hjem</a>
            <a href="{{ url_for('bilder') }}" class="nav-knapp">Bilder</a>
            <a href="{{ url_for('notiser') }}" class="nav-knapp">Notiser</a>
            <a href="{{ url_for('venner') }}" class="nav-knapp">Venner</a>
            <a href="{{ url_for('gjestebok') }}" class="nav-knapp">Gjestebok</a>
            <a href="{{ url_for('ikke_trykk') }}" class="nav-knapp hemmelig-knapp">ikke trykk!</a>
        </div>
        <div class="nav-tittel">Oppskrifter</div>
        <div class="nav-navn">Eirik Gundersen</div>
    </nav>
    <hr style="border: 0; border-top: 2px solid #000000; margin-bottom: 30px;">

    <h1 style="text-align: center;">Maaaaaaaaaat</h1>

    <div style="text-align: center; margin-bottom: 30px;">
    <a href="?kategori=brod" style="margin: 0 10px; font-weight: bold; text-decoration: none; color: #000;">Brød</a>
    <a href="?kategori=pizza" style="margin: 0 10px; font-weight: bold; text-decoration: none; color: #000;">Pizza</a>
    <a href="?kategori=diverse" style="margin: 0 10px; font-weight: bold; text-decoration: none; color: #000;">Diverse</a>
    </div>

    <p style="text-align: center;">☝︎ Her kan du finne mine oppskrifter som jeg garantert ikke har funnet et annet sted ☝︎</p>

    <div>
    <p> Heisann inspo!</p>
    <img src="{{ url_for('static', filename='bilder/oppskrifter/forsiden/teriyaki.jpg') }}" style="max-width: 250px; height: auto; border: 2px solid #000;">
    <img src="{{ url_for('static', filename='bilder/oppskrifter/forsiden/blomkål.jpg') }}" style="max-width: 250px; height: auto; border: 2px solid #000;">
</div>
    
</body>
</html>
--> 